html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: $dark-500;
  background-color: $white;
}

svg:not([class="rate__icon"]) {
  fill: $white;
}

button,
input {
  letter-spacing: inherit;
}

button {
  cursor: pointer;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.focus {
  transition: all 0.3s;

  &:focus {
    outline: 3px solid $green200;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  line-height: 1.3;
  background-color: $green900;
  color: $white;
  border-radius: 6px;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.section {
  text-align: center;
  padding: 72px 0;
}

.title {
  margin-bottom: 30px;
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: $dark-900;
  text-transform: uppercase;
}

@import 'global-components/filter-products';
@import 'global-components/card-product';
@import 'global-components/badge';
@import 'global-components/price';
@import 'global-components/quantity';


.rate {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}