body {
  @extend %OpenSans-Regular-16;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: $dark-500;
  background-color: $white;
}

button,
input {
  letter-spacing: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.form__btn {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
  border-radius: 0 6px 6px 0;
}

.btn {
  padding: 12px 24px;
  font-size: 18px;
  line-height: 1.3;
  color: $white;
  border-radius: 6px;
}