$green900: #63A60F;
$green200: #E0EDCF;
$green100: #EFF6E7;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-100: #F6F6F6;
$white: #FFFFFF;

%pseudo-element-100vw {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  right: -100%;
  bottom: 0;
}

%background-image-default {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%ruda-bold-60 {
  font-family: 'Ruda', sans-serif;
  font-weight: 700;
  font-size: 60px;
}

%ruda-semibold-32 {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  font-size: 32px;
}

%ruda-semibold-30 {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  font-size: 30px;
}

%opacity70 {
  opacity: 0.7
}

%focus-links {
  outline: 3px solid $green200;
}

%active-links {
  color: $green200;
}

