<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Интернет-магазин ФрешОк | Главная страница</title>
  <link type="image/x-icon" href="images/favicon.png" rel="shortcut icon" sizes="30x32">
  <link type="image/x-icon" href="images/favicon.png" rel="icon">
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>
  {%include 'app/modules/_header/_header.html'%}

  <main class="main">
    <h1 class="sr-only">Интернет-магазин ФрешОк</h1>
    <section class="hero">
      <h2 class="sr-only">Акции магазина</h2>
      <div class="banner-top">
        <div class="banner-top__item" style="background-image: url('images/slider/carrot.jpg');">
          <div class="container">
            <div class="banner-top__inner">
              <div class="banner-top__content">
                <h3 class="banner-top__title">
                  свежачок вам в хату
                  <span class="banner-top__subtitle">Скидка -50%</span>
                </h3>
                <p class="banner-top__text">
                  Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
                </p>
                <a class="banner-top__link btn focus" href="#">Купить сейчас</a>
              </div>
            </div>
          </div>
        </div>

        <div class="banner-top__item" style="background-image: url('images/slider/tomato.jpg');">
          <div class="container">
            <div class="banner-top__inner">
              <div class="banner-top__content">
                <h3 class="banner-top__title">
                  накрути себе томатов
                  <span class="banner-top__subtitle">акция: 3 кг по цене 1</span>
                </h3>
                <p class="banner-top__text">
                  Только с 12 по 15 июля скидка на домашние помидорчики
                </p>
                <a class="banner-top__link btn focus" href="#">Купить сейчас</a>
              </div>
            </div>
          </div>
        </div>

        <div class="banner-top__item" style="background-image: url('images/slider/greenery.jpg');">
          <div class="container">
            <div class="banner-top__inner">
              <div class="banner-top__content">
                <h3 class="banner-top__title">
                  Пусть остальные позеленеют от зависти
                  <span class="banner-top__subtitle">Распродажа зелени</span>
                </h3>
                <a class="banner-top__link btn focus" href="#">Купить сейчас</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <ul class="advantage">
      <li class="advantage__item" style="background-image: url('images/icons/scooter.svg');">
        <div class="advantage__title">
          Бесплатная доставка
        </div>
        <span class="advantage__text">
          Для заказов на сумму от 500 ₽
        </span>
      </li>
      <li class="advantage__item" style="background-image: url('images/icons/return-box.svg');">
        <div class="advantage__title">
          Возврат товара
        </div>
        <span class="advantage__text">
          Если товары были испорчены
        </span>
      </li>
      <li class="advantage__item" style="background-image: url('images/icons/24-hours.svg');">
        <div class="advantage__title">
          Поддержка 24/7
        </div>
        <span class="advantage__text">
          Лучшие операторы
        </span>
      </li>
    </ul>

    <section class="top-products section">
      <div class="container">
        <h2 class="title">
          Топовые товары
        </h2>
        <div class="top-products__wrapper" data-ref="top-products">
          <ul class="filter-products">
            <li class="filter-products__item">
              <button type="button" class="filter-products__btn focus" data-filter="all">
                все товары
              </button>
            </li>
            <li class="filter-products__item">
              <button type="button" class="filter-products__btn focus" data-filter=".fruit">
                фрукты
              </button>
            </li>
            <li class="filter-products__item">
              <button type="button" class="filter-products__btn focus" data-filter=".vegetables">
                овощи
              </button>
            </li>
            <li class="filter-products__item">
              <button type="button" class="filter-products__btn focus" data-filter=".beverages">
                напитки
              </button>
            </li>
            <li class="filter-products__item">
              <button type="button" class="filter-products__btn focus" data-filter=".grocery">
                бакалея
              </button>
            </li>
          </ul>


          <ul class="top-products__list">
            <li class="top-products__item  mix fruit">
              <article class="card-product">
                <div class="badge">
                  <span class="badge__item badge__item--new">
                    новинка
                  </span>
                  <span class="badge__item badge__item--sale">
                    -50%
                  </span>
                </div>
                <button class="btn-square btn-square--favorite focus" type="button">
                  <svg class="icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#favorite"></use>
                  </svg>
                </button>
                <a class="card-product__link focus" href="#">
                  <img class="card-product__img" src="images/products/pineapple.jpg" alt="Ананас" width="300" height="215">
                </a>
                <h3 class="card-product__title">
                  Ананас, 1кг
                </h3>
                <div class="card-product__bottom">
                  <div class="price">
                    <span class="price__old">
                      1 999
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                    <span class="price__current">
                      999
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                  </div>

                  <div class="quantity">
                    <button class="quantity__btn focus quantity__btn--minus" type="button">
                      <span class="sr-only">Уменьшить количество на одну единицу</span>
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#minus"></use>
                      </svg>
                    </button>
                    <input class="quantity__count focus" type="number" min="0" max="99" value="0" readonly>
                    <button class="quantity__btn focus quantity__btn--plus" type="button">
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#plus"></use>
                      </svg>
                      <span class="sr-only">Увеличить количество на одну единицу</span>
                    </button>
                  </div>

                  <button class="btn-square btn-square--cart focus" type="button">
                    <svg class="icon" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="top-products__item mix fruit">
              <article class="card-product">
                <button class="btn-square btn-square--favorite focus" type="button">
                  <svg class="icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#favorite"></use>
                  </svg>
                </button>
                <a class="card-product__link focus" href="#">
                  <img class="card-product__img" src="images/products/lemon.jpg" alt="Лимон" width="300" height="215">
                </a>
                <h3 class="card-product__title">
                  Лимон, 1кг
                </h3>
                <div class="card-product__bottom">
                  <div class="price">
                    <span class="price__current">
                      199
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                  </div>

                  <div class="quantity">
                    <button class="quantity__btn focus quantity__btn--minus" type="button">
                      <span class="sr-only">Уменьшить количество на одну единицу</span>
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#minus"></use>
                      </svg>
                    </button>
                    <input class="quantity__count focus" type="number" min="0" max="99" value="0" readonly>
                    <button class="quantity__btn focus quantity__btn--plus" type="button">
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#plus"></use>
                      </svg>
                      <span class="sr-only">Увеличить количество на одну единицу</span>
                    </button>
                  </div>

                  <button class="btn-square btn-square--cart focus" type="button">
                    <svg class="icon" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="top-products__item  mix fruit">
              <article class="card-product">
                <div class="badge">
                  <span class="badge__item badge__item--hit">
                    хит
                  </span>
                </div>
                <button class="btn-square btn-square--favorite focus" type="button">
                  <svg class="icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#favorite"></use>
                  </svg>
                </button>
                <a class="card-product__link focus" href="#">
                  <img class="card-product__img" src="images/products/dragon-fruit.jpg" alt="Питахайя" width="300" height="215">
                </a>
                <h3 class="card-product__title">
                  Питахайя красная с белой мякотью, 1шт
                </h3>
                <div class="card-product__bottom">
                  <div class="price">
                    <span class="price__current">
                      999
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                  </div>

                  <div class="quantity">
                    <button class="quantity__btn focus quantity__btn--minus" type="button">
                      <span class="sr-only">Уменьшить количество на одну единицу</span>
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#minus"></use>
                      </svg>
                    </button>
                    <input class="quantity__count focus" type="number" min="0" max="99" value="0" readonly>
                    <button class="quantity__btn focus quantity__btn--plus" type="button">
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#plus"></use>
                      </svg>
                      <span class="sr-only">Увеличить количество на одну единицу</span>
                    </button>
                  </div>

                  <button class="btn-square btn-square--cart focus" type="button">
                    <svg class="icon" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="top-products__item  mix grocery">
              <article class="card-product">
                <button class="btn-square btn-square--favorite focus" type="button">
                  <svg class="icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#favorite"></use>
                  </svg>
                </button>
                <a class="card-product__link focus" href="#">
                  <img class="card-product__img" src="images/products/ketchup.jpg" alt="Кетчуп" width="300" height="215">
                </a>
                <h3 class="card-product__title">
                  Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
                </h3>
                <div class="card-product__bottom">
                  <div class="price">
                    <span class="price__current">
                      600
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                  </div>

                  <div class="quantity">
                    <button class="quantity__btn focus quantity__btn--minus" type="button">
                      <span class="sr-only">Уменьшить количество на одну единицу</span>
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#minus"></use>
                      </svg>
                    </button>
                    <input class="quantity__count focus" type="number" min="0" max="99" value="0" readonly>
                    <button class="quantity__btn focus quantity__btn--plus" type="button">
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#plus"></use>
                      </svg>
                      <span class="sr-only">Увеличить количество на одну единицу</span>
                    </button>
                  </div>

                  <button class="btn-square btn-square--cart focus" type="button">
                    <svg class="icon" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="top-products__item  mix vegetables">
              <article class="card-product">
                <div class="badge">
                  <span class="badge__item badge__item--hit">
                    хит
                  </span>
                </div>
                <button class="btn-square btn-square--favorite focus" type="button">
                  <svg class="icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#favorite"></use>
                  </svg>
                </button>
                <a class="card-product__link focus" href="#">
                  <img class="card-product__img" src="images/products/carrot.jpg" alt="Морковь" width="300" height="215">
                </a>
                <h3 class="card-product__title">
                  Морковь молодая с бабушкиной грядки, 1кг
                </h3>
                <div class="card-product__bottom">
                  <div class="price">
                    <span class="price__current">
                      49
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                  </div>

                  <div class="quantity">
                    <button class="quantity__btn focus quantity__btn--minus" type="button">
                      <span class="sr-only">Уменьшить количество на одну единицу</span>
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#minus"></use>
                      </svg>
                    </button>
                    <input class="quantity__count focus" type="number" min="0" max="99" value="0" readonly>
                    <button class="quantity__btn focus quantity__btn--plus" type="button">
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#plus"></use>
                      </svg>
                      <span class="sr-only">Увеличить количество на одну единицу</span>
                    </button>
                  </div>

                  <button class="btn-square btn-square--cart focus" type="button">
                    <svg class="icon" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="top-products__item  mix beverages">
              <article class="card-product">
                <div class="badge">
                  <span class="badge__item badge__item--sale">
                    -30%
                  </span>
                </div>
                <button class="btn-square btn-square--favorite focus" type="button">
                  <svg class="icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#favorite"></use>
                  </svg>
                </button>
                <a class="card-product__link focus" href="#">
                  <img class="card-product__img" src="images/products/juice.jpg" alt="Сок" width="300" height="215">
                </a>
                <h3 class="card-product__title">
                  Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольный
                </h3>
                <div class="card-product__bottom">
                  <div class="price">
                    <span class="price__old">
                      299
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                    <span class="price__current">
                      199
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                  </div>

                  <div class="quantity">
                    <button class="quantity__btn focus quantity__btn--minus" type="button">
                      <span class="sr-only">Уменьшить количество на одну единицу</span>
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#minus"></use>
                      </svg>
                    </button>
                    <input class="quantity__count focus" type="number" min="0" max="99" value="0" readonly>
                    <button class="quantity__btn focus quantity__btn--plus" type="button">
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#plus"></use>
                      </svg>
                      <span class="sr-only">Увеличить количество на одну единицу</span>
                    </button>
                  </div>

                  <button class="btn-square btn-square--cart focus" type="button">
                    <svg class="icon" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="top-products__item  mix grocery">
              <article class="card-product">
                <div class="badge">
                  <span class="badge__item badge__item--new">
                    новинка
                  </span>
                </div>
                <button class="btn-square btn-square--favorite focus" type="button">
                  <svg class="icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#favorite"></use>
                  </svg>
                </button>
                <a class="card-product__link focus" href="#">
                  <img class="card-product__img" src="images/products/coffee.jpg" alt="Кофе" width="300" height="215">
                </a>
                <h3 class="card-product__title">
                  Кофе с коноплей органический Caffé Salomoni 250г
                </h3>
                <div class="card-product__bottom">
                  <div class="price">
                    <span class="price__current">
                      877
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                  </div>

                  <div class="quantity">
                    <button class="quantity__btn focus quantity__btn--minus" type="button">
                      <span class="sr-only">Уменьшить количество на одну единицу</span>
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#minus"></use>
                      </svg>
                    </button>
                    <input class="quantity__count focus" type="number" min="0" max="99" value="0" readonly>
                    <button class="quantity__btn focus quantity__btn--plus" type="button">
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#plus"></use>
                      </svg>
                      <span class="sr-only">Увеличить количество на одну единицу</span>
                    </button>
                  </div>

                  <button class="btn-square btn-square--cart focus" type="button">
                    <svg class="icon" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
            <li class="top-products__item mix vegetables">
              <article class="card-product">
                <div class="badge">
                  <span class="badge__item badge__item--new">
                    новинка
                  </span>
                </div>
                <button class="btn-square btn-square--favorite focus" type="button">
                  <svg class="icon" width="32" height="29">
                    <use xlink:href="images/sprite.svg#favorite"></use>
                  </svg>
                </button>
                <a class="card-product__link focus" href="#">
                  <img class="card-product__img" src="images/products/paprik.jpg" alt="Перец" width="300" height="215">
                </a>
                <h3 class="card-product__title">
                  Перец оранжевый, 1кг
                </h3>
                <div class="card-product__bottom">
                  <div class="price">
                    <span class="price__current">
                      349
                      <span class="price__currency">
                        ₽
                      </span>
                    </span>
                  </div>

                  <div class="quantity">
                    <button class="quantity__btn focus quantity__btn--minus" type="button">
                      <span class="sr-only">Уменьшить количество на одну единицу</span>
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#minus"></use>
                      </svg>
                    </button>
                    <input class="quantity__count focus" type="number" min="0" max="99" value="0" readonly>
                    <button class="quantity__btn focus quantity__btn--plus" type="button">
                      <svg class="quantity__icon">
                        <use xlink:href="images/sprite.svg#plus"></use>
                      </svg>
                      <span class="sr-only">Увеличить количество на одну единицу</span>
                    </button>
                  </div>

                  <button class="btn-square btn-square--cart focus" type="button">
                    <svg class="icon" width="16" height="16">
                      <use xlink:href="images/sprite.svg#icon-cart"></use>
                    </svg>
                    <span class="sr-only">Добавить в корзину</span>
                  </button>
                </div>
              </article>
            </li>
          </ul>
        </div>
        <a class="top-products__btn btn focus" href="#">Показать еще</a>
      </div>
    </section>

    <section class="banner-bottom">
      <div class="container">
        <h2 class="sr-only">Скидки</h2>
        <ul class="banner-bottom__list">
          <li class="banner-bottom__item banner-bottom__item--long banner-bottom__item--light" style="background-image: url('images/banner-bottom/fruits.jpg');">
            <span class="banner-bottom__subtitle">
              свежайшие фрукты
            </span>
            <h3 class="banner-bottom__title">
              начни фруктовое лето
              всего от 99 ₽
            </h3>
            <a class="banner-bottom__link banner-bottom__link--light" href="#">
              перейти к покупкам
            </a>
          </li>
          <li class="banner-bottom__item" style="background-image: url('images/banner-bottom/veg.jpg');">
            <span class="banner-bottom__subtitle">
              сезонная распродажа
            </span>
            <h3 class="banner-bottom__title">
              овощепад до -50%
            </h3>
            <a class="banner-bottom__link" href="#">
              перейти к покупкам
            </a>
          </li>
          <li class="banner-bottom__item" style="background-image: url('images/banner-bottom/bread.jpg');">
            <span class="banner-bottom__subtitle">
              ням-ням
            </span>
            <h3 class="banner-bottom__title">
              свежий хлебчик
            </h3>
            <a class="banner-bottom__link" href="#">
              перейти к покупкам
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="promo-products section">
      <div class="container">
        <h2 class="title">
          акции
        </h2>
        <div class="promo__wrapper" data-ref="promo-products">
          <ul class="filter-products">
            <li class="filter-products__item">
              <button type="button" class="filter-products__btn focus" data-filter="all">
                все товары
              </button>
            </li>
            <li class="filter-products__item">
              <button type="button" class="filter-products__btn focus" data-filter=".new">
                новинки
              </button>
            </li>
            <li class="filter-products__item">
              <button type="button" class="filter-products__btn focus" data-filter=".hits">
                хиты
              </button>
            </li>
          </ul>

          <ul class="promo-products__list">
            <li class="promo-products__item mix new">
              <article class="card-product card-product--promo">
                <div class="badge">
                  <span class="badge__item badge__item--new">
                    новинка
                  </span>
                </div>
                <a class="card-product__link card-product__link--promo focus" href="#">
                  <img class="card-product__img card-product__img--promo" src="images/products/pineapple.jpg" alt="Ананас" width="100" height="100">

                  <h3 class="card-product__title card-product__title--promo">
                    Ананас, 1кг
                  </h3>
                  <span class="card-product__availability">
                    в наличии
                  </span>
                  <div class="card-product__bottom card-product__bottom--promo">
                    <div class="price price--promo">
                      <span class="price__old">
                        1 999
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                      <span class="price__current price__current--promo">
                        999
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                    </div>

                    <div class="rate">
                      <span class="sr-only">рейтинг товара</span>
                      <span class="rate__text">
                        4.5
                      </span>
                      <span class="rate__star" data-rateyo-rating="4.5"></span>
                    </div>
                  </div>
                </a>
              </article>
            </li>
            <li class="promo-products__item mix new">
              <article class="card-product card-product--promo">
                <div class="badge">
                  <span class="badge__item badge__item--new">
                    новинка
                  </span>
                </div>
                <a class="card-product__link card-product__link--promo focus" href="#">
                  <img class="card-product__img card-product__img--promo" src="images/products/coffee.jpg" alt="Кофе" width="100" height="100">

                  <h3 class="card-product__title card-product__title--promo">
                    Кофе с коноплей органический Caffé Salomoni 250г
                  </h3>
                  <span class="card-product__availability card-product__availability--ends">
                    заканчивается
                  </span>
                  <div class="card-product__bottom card-product__bottom--promo">
                    <div class="price price--promo">
                      <span class="price__old">
                        877
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                      <span class="price__current price__current--promo">
                        777
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                    </div>
                    <div class="rate">
                      <span class="sr-only">рейтинг товара</span>
                      <span class="rate__text">
                        4.9
                      </span>
                      <span class="rate__star" data-rateyo-rating="4.9"></span>
                    </div>
                  </div>
                </a>
              </article>
            </li>
            <li class="promo-products__item mix new">
              <article class="card-product card-product--promo">
                <div class="badge">
                  <span class="badge__item badge__item--new">
                    новинка
                  </span>
                </div>
                <a class="card-product__link card-product__link--promo focus" href="#">
                  <img class="card-product__img card-product__img--promo" src="images/products/strawberry.jpg" alt="Клубника" width="100" height="100">

                  <h3 class="card-product__title card-product__title--promo">
                    Клубника, 1 кг
                  </h3>
                  <span class="card-product__availability card-product__availability--ended">
                    нет в наличии
                  </span>
                  <div class="card-product__bottom card-product__bottom--promo">
                    <div class="price price--promo">
                      <span class="price__old">
                        600
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                      <span class="price__current price__current--promo">
                        440
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                    </div>
                    <div class="rate">
                      <span class="sr-only">рейтинг товара</span>
                      <span class="rate__text">
                        5.0
                      </span>
                      <span class="rate__star" data-rateyo-rating="5.0"></span>
                    </div>
                  </div>
                </a>
              </article>
            </li>
            <li class="promo-products__item mix new">
              <article class="card-product card-product--promo">
                <div class="badge">
                  <span class="badge__item badge__item--new">
                    новинка
                  </span>
                </div>
                <a class="card-product__link card-product__link--promo focus" href="#">
                  <img class="card-product__img card-product__img--promo" src="images/products/mango.jpg" alt="Манго" width="100" height="100">

                  <h3 class="card-product__title card-product__title--promo">
                    Манго, 1 шт
                  </h3>
                  <span class="card-product__availability">
                    в наличии
                  </span>
                  <div class="card-product__bottom card-product__bottom--promo">
                    <div class="price price--promo">
                      <span class="price__old">
                        960
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                      <span class="price__current price__current--promo">
                        660
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                    </div>
                    <div class="rate">
                      <span class="sr-only">рейтинг товара</span>
                      <span class="rate__text">
                        5.0
                      </span>
                      <span class="rate__star" data-rateyo-rating="5.0"></span>
                    </div>
                  </div>
                </a>
              </article>
            </li>
            <li class="promo-products__item mix new">
              <article class="card-product card-product--promo">
                <div class="badge">
                  <span class="badge__item badge__item--new">
                    новинка
                  </span>
                </div>
                <a class="card-product__link card-product__link--promo focus" href="#">
                  <img class="card-product__img card-product__img--promo" src="images/products/salmon.jpg" alt="Лосось" width="100" height="100">

                  <h3 class="card-product__title card-product__title--promo">
                    Лосось, 1 кг
                  </h3>
                  <span class="card-product__availability">
                    в наличии
                  </span>
                  <div class="card-product__bottom card-product__bottom--promo">
                    <div class="price price--promo">
                      <span class="price__old">
                        1199
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                      <span class="price__current price__current--promo">
                        999
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                    </div>
                    <div class="rate">
                      <span class="sr-only">рейтинг товара</span>
                      <span class="rate__text">
                        4.5
                      </span>
                      <span class="rate__star" data-rateyo-rating="4.5"></span>
                    </div>
                  </div>
                </a>
              </article>
            </li>
            <li class="promo-products__item mix hits">
              <article class="card-product card-product--promo">
                <div class="badge">
                  <span class="badge__item badge__item--hit">
                    хит
                  </span>
                </div>
                <a class="card-product__link card-product__link--promo focus" href="#">
                  <img class="card-product__img card-product__img--promo" src="images/products/veg_juice.jpg" alt="Сок Granini овощной" width="100" height="100">

                  <h3 class="card-product__title card-product__title--promo">
                    Сок Granini овощной 100%, 0.5л
                  </h3>
                  <span class="card-product__availability card-product__availability--ends">
                    заканчивается
                  </span>
                  <div class="card-product__bottom card-product__bottom--promo">
                    <div class="price price--promo">
                      <span class="price__old">
                        230
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                      <span class="price__current price__current--promo">
                        180
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                    </div>
                    <div class="rate">
                      <span class="sr-only">рейтинг товара</span>
                      <span class="rate__text">
                        5.0
                      </span>
                      <span class="rate__star" data-rateyo-rating="5.0"></span>
                    </div>
                  </div>
                </a>
              </article>
            </li>
            <li class="promo-products__item mix hits">
              <article class="card-product card-product--promo">
                <div class="badge">
                  <span class="badge__item badge__item--hit">
                    хит
                  </span>
                </div>
                <a class="card-product__link card-product__link--promo focus" href="#">
                  <img class="card-product__img card-product__img--promo" src="images/products/basket.jpg" alt="Фруктовая корзина" width="100" height="100">

                  <h3 class="card-product__title card-product__title--promo">
                    Фруктовая корзина, 1 шт
                  </h3>
                  <span class="card-product__availability">
                    в наличии
                  </span>
                  <div class="card-product__bottom card-product__bottom--promo">
                    <div class="price price--promo">
                      <span class="price__old">
                        5990
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                      <span class="price__current price__current--promo">
                        3990
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                    </div>
                    <div class="rate">
                      <span class="sr-only">рейтинг товара</span>
                      <span class="rate__text">
                        4.8
                      </span>
                      <span class="rate__star" data-rateyo-rating="4.8"></span>
                    </div>
                  </div>
                </a>
              </article>
            </li>
            <li class="promo-products__item mix hits">
              <article class="card-product card-product--promo">
                <div class="badge">
                  <span class="badge__item badge__item--hit">
                    хит
                  </span>
                </div>
                <a class="card-product__link card-product__link--promo focus" href="#">
                  <img class="card-product__img card-product__img--promo" src="images/products/pork.jpg" alt="Свинина" width="100" height="100">

                  <h3 class="card-product__title card-product__title--promo">
                    Свинина мякоть, 1 кг
                  </h3>
                  <span class="card-product__availability">
                    в наличии
                  </span>
                  <div class="card-product__bottom card-product__bottom--promo">
                    <div class="price price--promo">
                      <span class="price__old">
                        599
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                      <span class="price__current price__current--promo">
                        499
                        <span class="price__currency">
                          ₽
                        </span>
                      </span>
                    </div>
                    <div class="rate">
                      <span class="sr-only">рейтинг товара</span>
                      <span class="rate__text">
                        4.6
                      </span>
                      <span class="rate__star" data-rateyo-rating="4.6"></span>
                    </div>
                  </div>
                </a>
              </article>
            </li>
          </ul>
        </div>
        <a class="promo-products__btn btn focus" href="#">Показать еще</a>
      </div>
    </section>

    <section class="sponsors">
      <div class="container">
        <h2 class="sr-only">Спонсоры</h2>
        <div class="sponsors__list">
          <div class="sponsors__item">
            <a class="sponsors__link focus" href="#">
              <img class="sponsors__img" src="images/sponsors/Sprite.svg" alt="Перейти на страницу Спрайта" width="88" height="33">
            </a>
          </div>
          <div class="sponsors__item">
            <a class="sponsors__link focus" href="#">
              <img class="sponsors__img" src="images/sponsors/dr-pepper.svg" alt="Перейти на страницу Доктор Пепер" width="80" height="57">
            </a>
          </div>
          <div class="sponsors__item">
            <a class="sponsors__link focus" href="#">
              <img class="sponsors__img" src="images/sponsors/Coca-Cola.svg" alt="Перейти на страницу Кока Кола" width="80" height="26">
            </a>
          </div>
          <div class="sponsors__item">
            <a class="sponsors__link focus" href="#">
              <img class="sponsors__img" src="images/sponsors/pepsi.svg" alt="Перейти на страницу Пепси" width="80" height="31">
            </a>
          </div>
          <div class="sponsors__item">
            <a class="sponsors__link focus" href="#">
              <img class="sponsors__img" src="images/sponsors/redbull.svg" alt="Перейти на страницу Ред Бул" width="80" height="49">
            </a>
          </div>
          <div class="sponsors__item">
            <a class="sponsors__link focus" href="#">
              <img class="sponsors__img" src="images/sponsors/fanta.svg" alt="Перейти на страницуы Фанта" width="80" height="59">
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="news section">
      <div class="container">

        <div class="news__wrapper">
          <h2 class="title">
            наши новости
          </h2>

          <a class="news__link-all focus" href="#">
            все новости
          </a>
        </div>
        <ul class="news__list">
          <li class="news__item">
            <article class="news__article">
              <time class="news__date" datetime="07-15">
                <span class="news__month">
                  июль
                </span>
                <span class="news__day">
                  15
                </span>
              </time>
              <a class="news__link focus" href="#">
                <img class="news__img" src="images/news/fruits.jpg" alt="Клубника" width="410" height="240">
                <h3 class="news__title">
                  Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!
                </h3>
              </a>
            </article>
          </li>
          <li class="news__item">
            <article class="news__article">
              <time class="news__date" datetime="05-07">
                <span class="news__month">
                  май
                </span>
                <span class="news__day">
                  07
                </span>
              </time>
              <a class="news__link focus" href="#">
                <img class="news__img" src="images/news/mango.jpg" alt="Манго" width="410" height="240">
                <h3 class="news__title">
                  Шикарнейший выбор манго в нашем онлайн-маркете
                </h3>
              </a>
            </article>
          </li>
          <li class="news__item">
            <article class="news__article">
              <time class="news__date" datetime="02-20">
                <span class="news__month">
                  февраль
                </span>
                <span class="news__day">
                  20
                </span>
              </time>
              <a class="news__link focus" href="#">
                <img class="news__img" src="images/news/papaya.jpg" alt="Папайя" width="410" height="240">
                <h3 class="news__title">
                  Всё, что вы хотели знать о папайя
                </h3>
              </a>
            </article>
          </li>
        </ul>
      </div>
    </section>

  </main>

  {%include 'app/modules/_footer/_footer.html'%}

  <script src="js/main.min.js">
  </script>
</body>

</html>