.advantage {
	display: flex;
	justify-content: center;
	letter-spacing: normal;
	padding: 50px 15px 30px;
	background-color: $silver-100;

	&__item {
		padding-left: 75px;
		width: 13%;
		background-repeat: no-repeat;
		background-position: left top;
		background-size: 50px 50px;

		&:nth-child(1) {
			margin-right: 85px;
		}

		&:nth-child(2) {
			width: 11%;
			margin-right: 130px;
		}
	}

	&__title {
		margin-bottom: 6px;
		font-weight: 600;
		color: $dark-900;
	}

	&__text {
		font-size: 14px;
	}
}