.sponsors {
	padding-top: 72px;


	&__list {
		margin: 0 55px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0.5;
		margin-top: 3px;
		min-height: 59px;


		&:hover {
			opacity: 1;
		}
	}
}