.card-product {
  position: relative;
  padding: 57px 0 18px;
  background-color: $white;
  text-align: left;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.2);

  &--promo {
    padding: 12px;
  }

  &--cart {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  &:hover {
    border: 1px solid $green900;
  }

  &__link {
    display: block;
    position: relative;
    margin-bottom: 18px;

    &:hover {
      &::before {
        content: "";
        position: absolute;
        top: 40%;
        left: 40%;
        width: 48px;
        height: 48px;
        background-image: url('../images/icons/icon-search-green.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        border-radius: 50%;
        background-color: $white;
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &--promo {
      margin-bottom: 0;

      &:hover {
        &::before {
          top: 27%;
        }
      }
    }

    &--cart {
      display: inline-block;
      margin-bottom: 0;

      &:hover {
        &::before {
          top: 15%;
        }
      }
    }
  }

  &__img {
    display: inline-block;
    object-fit: contain;
    object-position: center;

    &--promo {
      margin-right: 12px;
      float: left;
    }

    &--cart {
      margin-right: 12px;
      float: left;
    }
  }

  &__availability {
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: $green900;

    &--ends {
      color: $red-900;
    }

    &--ended {
      color: $silver-600;
    }
  }

  &__title {
    display: -webkit-box;
    min-height: 4.2em;
    margin: 0 18px 10px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: $dark-900;

    &--promo {
      margin: 0;
    }

    &--cart {
      max-width: 170px;
      min-height: 2.8em;
      -webkit-line-clamp: 2;
      margin: 0;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 18px;

    &--promo {
      padding: 0;
    }

    &--cart {
      align-self: flex-end;
      flex-wrap: nowrap;
      padding: 0;
    }
  }

}