.price {
  display: flex;
  flex-direction: column;
  font-size: 10px;


  &--promo {
    flex-direction: row-reverse;
    align-items: flex-end;
  }


  &__old {
    position: relative;
    color: $silver-600;

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 100%;
      height: 25%;
      border-bottom: 1px solid $silver-600;
      transform: rotate(-15deg);
    }
  }

  &__current {
    &--promo {
      font-weight: 600;
      font-size: 14px;
      margin-right: 12px;
    }
  }
}